{% extends 'base.html'%} {# Herencia #} 
{% block content %} 
{{ super() }}

<div id="seccion-formulario-denuncias" class="uk-section pde-bg-1 uk-padding-small">
    <div class="uk-container">
 <!--INICIO PASO 4-->
      
 <div id="paso-cuatro">
    <h3 class="pde-text-anton">4 Enviar denuncia</h3>
    <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
      <div class="uk-child-width-1-1@s uk-grid-match uk-text-left" style="width: 100%" uk-grid>
        <div class="uk-margin uk-child-width-auto uk-grid">
          <label>
            <input class="uk-checkbox" type="checkbox">
            Protesto, bajo manifiesto de decir verdad que los datos e información que he plasmado en la presente denuncia son verídicos</label>
          <br>
          <br>
          <p class="uk-text-small">La información proporcionada se tratará de conformidad con las leyes en materia de transparencia y protección de datos personales. Para mayor información, puede consultar el aviso de privacidad en el siguiente <a href="">enlace</a></p>
        </div>
      </div>
      <h6 class="pde-text-anton uk-heading-line uk-text-left uk-margin-small-bottom uk-margin-medium-top"><span>¿Cómo deseas enviar tu denuncia?</span></h6>
    </div>
    <div class="uk-child-width-1-3@s uk-grid-match uk-text-center" uk-grid>
      <div>
        <div class="uk-card uk-card-hover uk-card-body">
          <h1 class="uk-card-title"><span uk-icon="icon: ban; ratio: 3.5"></span></h1>
          <h3 class="uk-card-title">De forma anónima</h3>
          <p>Tu denuncia se enviará de forma anónima y podrás dar seguimiento a través del número de folio que te será proporcionado</p>
          <p uk-margin>
            <button onclick="location.href='/denuncia-acuse'" class="btn-enviar-denuncia uk-button uk-button-text"><span uk-icon="arrow-right"></span> Enviar</button>
          </p>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-hover uk-card-body">
          <h1 class="uk-card-title"><span uk-icon="icon: mail; ratio: 3.5"></span></h1>
          <h3 class="uk-card-title">Con un correo para recibir notificaciones</h3>
          <p>Tu denuncia se enviará de forma anónima y se te enviará a tu correo una notificación para mantenerte informado sobre el avance de tu denuncia</p>
          <form class="uk-grid-small" uk-grid>
            <div class="uk-width-1-2@s">
              <input class="uk-input uk-form-small" type="text" placeholder="Correo" aria-label="50">
            </div>
            <div class="uk-width-1-2@s">
              <button class="btn-enviar-denuncia uk-button uk-button-text"><span uk-icon="arrow-right"></span> Enviar</button>
            </div>
          </form>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-hover uk-card-body">
          <h1 class="uk-card-title"><span uk-icon="icon: user; ratio: 3.5"></span></h1>
          <h3 class="uk-card-title">Con mi cuenta</h3>
          <p>Podrás consultar el avance de tu denuncia en cualquier momento</p>
          <form>
            <div class="uk-margin">
              <input class="uk-input uk-form-small" type="text" placeholder="Usuario" aria-label="Input">
            </div>
            <div class="uk-margin">
              <input class="uk-input uk-form-small" type="text" placeholder="Constraseña" aria-label="Input">
            </div>
            <p uk-margin>
              <button class="btn-enviar-denuncia uk-button uk-button-text"><span uk-icon="arrow-right"></span> Iniciar sesión y enviar</button>
            </p>
            <a class="uk-link-text uk-text-small" href="/registro">Si aún no tienes cuenta, da clic aquí.</a>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--FIN PASO 4--> 
  </div>
  </div>
{% endblock %}