{% extends 'base.html'%} {# Herencia #} 
{% block content %} 
{{ super() }}
<div id="seccion-formulario-denuncias" class="uk-section pde-bg-1 uk-padding-small">
  <div class="uk-container"> 
      <div id="paso-tres">
        <h3 class="pde-text-anton">Resumen de tu Denuncia</h3>
        <h6 class="pde-text-anton uk-heading-line uk-text-left"><span>Resumen de/los denunciado/s</span></h6>
        <article class="datos-servidorpublico uk-comment uk-comment-primary" role="comment" >
          <header class="uk-comment-header">
            <div class="uk-grid-medium uk-flex-middle" uk-grid>
              <div class="uk-width-expand">
                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Juan Luis Pérez Becerra</a></h4>
                <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                  <li>Servidor Público</li>
                  <li>Director Obras Públicas</li>
                  <li>Obras Públicas</li>
                  <li>Ayuntamiento de Morelia</li>
                </ul>
              </div>
            </div>
          </header>
          <div class="uk-comment-body">
            <p class="uk-text-meta">Tez morena clara, cabello negro, corto, lacio, frente mediana, cejas pobladas rectas, unidas, ojos medianos iris café claro, nariz recta, de base mediana, boca mediana de labios gruesos, mentón cuadrado, cara redonda, pabellones auriculares ovalados con lóbulos descendentes, bigote y barba sin rasurar.</p>
          </div>
        </article>
        <h6 class="pde-text-anton uk-heading-line uk-text-left"><span>Resumen de el/los Particulare/s vinculado/s</span></h6>
        <article class="datos-particular uk-comment uk-comment-primary" role="comment" >
          <header class="uk-comment-header">
            <div class="uk-grid-medium uk-flex-middle" uk-grid>
              <div class="uk-width-expand">
                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Alfredo Valencia</a></h4>
                <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                  <li>Particular Vinculado</li>
                  <li>Propietario</li>
                  <li><span uk-icon="nut"></span> Multisistemas VALCER S.A. de C.V.</li>
                  <li><span uk-icon="location"></span> Batallón de Matamoros 84-A, Chapultepec Sur, C.P. 58260, Morelia, Michoacán</li>
                  <li><span uk-icon="phone"></span> 443 265 5544</li>
                  <li><span uk-icon="mail"></span> contacto@multisis.mx</li>
                </ul>
              </div>
            </div>
          </header>
          <div class="uk-comment-body">
            <p class="uk-text-meta">Tez morena clara, cabello negro, corto, lacio, frente mediana, cejas pobladas rectas, unidas, ojos medianos iris café claro, nariz recta, de base mediana, boca mediana de labios gruesos, mentón cuadrado, cara redonda, pabellones auriculares ovalados con lóbulos descendentes, bigote y barba sin rasurar.</p>
          </div>
        </article>
        <h6 class="pde-text-anton uk-heading-line uk-text-left"><span>Resumen de los hechos</span></h6>
        <article class="datos-particular uk-comment uk-comment-primary" role="comment" >
          <header class="uk-comment-header">
            <div class="uk-grid-medium uk-flex-middle" uk-grid>
              <div class="uk-width-expand">
                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Hechos</a></h4>
                <p class="uk-heading-line"><span>Lugar y fecha</span></p>
                <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                  <li><span uk-icon="clock"></span> Hechos sucedidos el 25 de diciembre de 2022, a las 18:30 horas</li>
                  <li><span uk-icon="location"></span> Hechos sucedidos en Zacapu Michoacán</li>
                </ul>
              </div>
            </div>
          </header>
          <div class="uk-comment-body">
            <p class="uk-heading-line"><span>Narración de los hechos</span></p>
            <p class="uk-text-meta">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            <p class="uk-text-meta">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
            <p class="uk-text-meta">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
            <p class="uk-text-meta">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
            <p class="uk-text-meta">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas.</p>
          </div>
          <p class="uk-heading-line"><span>Medios probatorios</span></p>
          <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
            <li><span uk-icon="users"></span> Testigos: Andrés Navarro García; Huberto López Zambrano</li>
            <li><span uk-icon="file-text"></span> Existe un documento el cual contiene acuerdos sobre el lavado de dinero</li>
            <li><span uk-icon="crosshairs"></span> El documento probatorio se localiza en la Delegación Administrativa de la SESEA</li>
          </ul>
          <p class="uk-heading-line"><span>Evidencias</span></p>
          <ul class="uk-list">
            <li><span uk-icon="file-pdf"></span> Documento 1</li>
            <li><span uk-icon="file-text"></span> Documento 2</li>
            <li><span uk-icon="file"></span> Documento 3</li>
          </ul>
        </article>
        
        <!--Botones-->
        <div>
          <button onclick="location.href='/denuncia_enviar'" class="btn-continuar-presentardenuncia uk-button uk-button-default" type="button"> <span class="uk-margin-small-right" uk-icon="arrow-right"></span> Presentar denuncia</button>
        </div>
      </div>
      <!--FIN PASO 3--> 
      </div>
      </div>
      {% endblock %}